<div class="jumbotron">
  <h1 class="display-4">Welcome to the Paint Shop</h1>
  <p class="lead">Manage your products, stock, and invoices easily.</p>
  <hr class="my-4">
  <p>Use the navigation bar to access different features.</p>
</div>
